* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  font-family: system-ui;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;

}

.main {
  margin-left: 15%;
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.all {
  background-color: gray;
  color: whitesmoke;
}